@{
    ViewData["Title"] = "Home Page";
}

<div class="container w-50">
    <h2>Menu</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="Doctor">Doctor Maintenance</a></li>
        <li class="list-group-item"><a href="Patient">Patient Maintenance</a></li>
        <li class="list-group-item"><a href="Appointment">Appointment Maintenance</a></li>
        <li class="list-group-item"><a href="LabTest">Laboratory Test Maintenance</a></li>
        <li class="list-group-item"><a href="LabResult">Laboratory Test Results Maintenance</a></li>
        <li class="list-group-item"><a href="User">User Maintenance</a></li>
    </ul>
</div>
