@model GestorPacientes.Core.Application.ViewModels.LabTest.SaveLabTestViewModel

<div class="d-flex justify-content-center align-items-center">
    <form asp-action="Edit" asp-route-id="@Model.Id" method="post" class="col-md-6">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control form-control" id="tName" name="Name" value="@Model.Name" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save Lab Test</button>
    </form>
</div>