@model List<GestorPacientes.Core.Application.ViewModels.LabTest.LabTestViewModel>

<div class="container">
    <h2>Lab Test Maintenance</h2>
    <a asp-action="Create" class="btn btn-primary">Create Lab Test</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lab Results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var labTest in Model)
            {
                <tr>
                    <td>@labTest.Name</td>
                    <td>@labTest.LabResults</td>
                    <td>Actions</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@labTest.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@labTest.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
